  /* Clients Section */
  .clients__title {
    font-weight: $font-weight-bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  
  
    .clients__list {
    display: flex;
    cursor: pointer;
    margin-top: 50px;
  }
  
  .clients__links:not(:last-child) {
    margin-right: 30px;
  }
  
  
  .clients__current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $logo-color;
    border-radius: 4px;
    color: $logo-color;
    background-color: $text-color-white;
    transition: 250ms $animation-timing;
  }
  
   .clients__current:hover,
   .clients__current:focus {
    border: 1px solid  $akcent-color;
    border-radius: 4px;
    color: $akcent-color;
  }
  
  .clients__icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
  
  
    /* End Clients Section */